.weather-background {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  margin: 50px 0 50px 0;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-size: 4.5em;
  margin: 3vh;
}
.header-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 65vw;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 50px;
  position: relative;
  top: 50px;
  border-radius: 35px;
  /* box-shadow: 0 0.5rem 2rem 0.5rem black; */
  -webkit-box-shadow: 0px 20px 44px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 44px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 44px 0px rgba(0, 0, 0, 0.75);
}
input {
  border: 2px solid black;
  height: 20px;
  border-radius: 25px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 20px;
  font-family: "Rubik", sans-serif;
}
button {
  border: 2px solid black;
  height: 34px;
  width: 75px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Rubik", sans-serif;
}
button:hover {
  background-color: rgba(128, 126, 126, 0.2);
  transition: 0.2s;
}
